:root{
	--color-1: rgb(0, 152, 218); /*azul fuerte*/
	--color-2: rgb(0, 60, 130); /*azul*/
	--color-3: #EEEEEE; /*blanco*/
	--color-4: rgb(42, 38, 35); /*negro*/
}
/**************************************************************/
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: rgb(245, 245, 245);
	overflow-x: hidden;
	text-align: center;
}

h1{
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}	
h2{
	font-size: 32px;
}
h3{
	font-size: 25px;
	color: dodgerblue;
}
h4{
	font-size: 24px;
}
p{
	font-size: 22px;
}
ul, ol{
	position: relative;	
}
ul > li{
	display: inline-block;
}
a{
	text-decoration: none;
	color: black;
}

header{
	margin-top: 40px;
	width: 100%;
	text-align: center;
	padding: 20px 18px 32px 18px;
	background: linear-gradient(#54AFE8, ghostwhite);
}
header > h1{
	display: none;
}
header > img{
	width: 80%;
}
.boton-central{
	border: none;
	background-color:orangered;
	color: mintcream;
	padding: 4px;
	border-radius: 6px;
	font-size: 1.05em;
}
nav{
	background-color: ghostwhite;
	border-bottom: gainsboro 1px solid;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	font-size: 20px;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
}
section{
	display: block;
	margin: 0 10px 20px 10px;
}
footer{
	background-color: slategray;
	width: 100%;
	padding: 10px 0 26px 0;
}

#menu-vertical{
	background-color: ghostwhite;
	width: 80%;
	height: 100vh;
	padding: 15px 0 0 30px;
	text-align: left;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	transition: width 1s;
	z-index: 1;
}
#menu-vertical a:hover{
	background-color: #ccc;
}
#menu-vertical > li{
	display: block;
	padding: 10px 0;
}

.column-3{
	-ms-flex: 30%;
	flex: 30%;
	max-width: 33.333%;
}
.img-movil{
	width: 100%;
	border-radius: 20px;
}
.paquete{
	width: 100%;
	padding: 20px 15px 10px 15px;
	text-align: left;
	background-color:rgb(219, 217, 217);
	border-radius: 0 0 20px 20px;
	margin-top: -20px;
}
.presio{
	border-top: rgb(161, 160, 160) 1px solid;
}
.bloque{
	margin-bottom: 30px;
}
.ventana{
	padding: 10px 5px;
	margin-bottom: 10px;
}
.ventana > img{
	float: left;
	width: 100%;
}

#paquetes{
	border-radius: 15px;
}
/* Moviles en horizontal y tablet vertical */
@media (min-width:768px){
	body{
		
	}
	h1{
		display: none;
	}
	/*****************************/
	.lineal{
		display: inline-block;
		width: 49%;
	}

	.lineal > img{
		width: 100%;
	}

	.bloque{
		display: inline-block;
		width: 48%;
	}

}

/* Tablets en horizontal y escritorio normales */
@media (min-width: 1024px){
	body{
	}
	
	/***********************/
	



}

/* Escritorios muy anchos */

@media (min-width: 1200px){
	
}